<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meter Home Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript" src="EnergyDashBoard1.0\script\ChartJavaScript.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<canvas id="myChart" width="1600" height="900"></canvas>
<!--<table class="homegrouptable" align="center">
    <tr>
        <th>Name Of Meter</th>
        <th>KiloWatt Value (Raw)</th>
        <th>Date Stamp</th>

    </tr>

        {%for meterReading in info%}
            <tr>
                <td>{{meterReading.buildingName}}</td>
                <td>{{meterReading.value}}</td>
                <td>{{meterReading.timeStamp}}</td>

            </tr>
        {%endfor%}
    </form>
</table>-->

</body>
</html>
